

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60%;
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}



input[type="checkbox"] {
    margin-right: 10px;
}

.strikeText {
    text-decoration: line-through;
    color: #a82d2d;
}

.hidden {
    display: none;
}

#clearButton {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

li label {
    font-weight: bold;
    display: inline; 
    margin-bottom: 0; 
    margin-right: 5px; 
}